{% extends 'layout.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
</div>
{% for message in app.flashes('notice') %}
    <div class="flash-notice bg-info">
        {{ message }}
    </div>
{% endfor %}

<div class="container">
 <div class="row">
  <div class="col bg-secondary"">
  <h2>Matchs en cours</h2>
  <p>Liste de match disponibles:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Session</th>
        <th>Lien</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
       
      {% for liste in list %}
      </tr>
          <td> {{liste.nom~"  "~liste.date|date("m/d/Y") }}</td>       <td> <a class="btn btn-info" href="{{path("matchParticiper",{user: user.participant.id,session: liste.id})}}">Participer</a><br></td>
      </tr>
      {%  endfor %}
    </tbody>
  </table>
  
  </div>
  <div class="col bg-secondary"">
    <h2>Mes matchs</h2>
  <p>List de mes matchs:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Session</th>
        <th>Lien</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
       
 {% for liste in mesjeux %}
      </tr>
 <td> {{liste.nom~"  "~liste.date|date("m/d/Y") }}</td>
 <td> <a class="btn btn-danger" href="{{path("matchmespartis",{user: user.participant.id,session: liste.id})}}" >Voir</a><br></td>
 </tr>
 {%  endfor %}
    </tbody>
  </table>
  </div>
 
</div> 
</div>

{% endblock %}


