{% extends 'layout.html.twig' %}

{% block body %}

mes parties 
<pre>
    {{ dump(sess) }}
    {{ dump(list) }}
</pre>



<div class="container">
 <div class="row">
  <div class="col bg-secondary"">
  <h2>Session {{list[0].Session.nom~" du "~list[0].Session.date|date}}</h2>
  <p>Liste de match disponibles:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Regle</th>
        <th>film</th>
        <th>lien</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
      {% for liste in list %}
      </tr>
          <td> {{liste.regle}}</td>
          <td> {{liste.regle.film}}</td>
          <td> <a class="btn btn-info" href="{{liste.regle~liste.regle.film}}"</td>
      </tr>
      {%  endfor %}
    </tbody>
  </table>
  
  </div>

</div>

{% endblock %}