        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
   <li class="nav-item active">
      <a class="nav-link" href="{{path('home')}}">Home</a>
    </li>
      {% if app.user.username is defined %}
    <li class="nav-item">
      <a class="nav-link" href="{{path('session_index')}}">session</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('regle_index')}}">Regle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('film_index')}}">Film</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('participant_index')}}">participant</a>
    </li>
   
      <li class="nav-item">
      <a class="nav-link " href="{{path('app_logout')}}">logout</a>
      {% else %}
      <a class="nav-link " href="{{path('app_login')}}">login</a>
    </li>
      <li class="nav-item">
      <a class="nav-link " href="{{path('log_on')}}">logon</a>
    </li>
      {% endif %}
  </ul>
</nav>